* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: var(--main-bg-color);
  --background-secondary: #343434;
  --background-tertiary: #4e4e4e;
  --main-bg-color: #1b1b1b;
  --dark-bg-color: #0e0e0e;
  --dark2-bg-color: #181818;
  --text-color: #f1f1f1;
  --accent-color: #ff9900;
  --infrared-color: #ff496c;
  --spotify-green: #1DB954;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-track {
  border-radius: 3px;
  background: var(--background-secondary);
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--spotify-green);
}
::-webkit-scrollbar-thumb:hover {
  background: #17863e;
}

#search-bar {
  border-radius: 30px;
  border: none;
  padding: 10px;
  width: 66%;
  height: 10px;
  font-size: 20px;
  color: var(--text-color);
  background-color: var(--background-tertiary);
  transition: 0.1s;
}

#search-bar:focus {
  outline: 2px solid var(--spotify-green);
  /* border: 1px solid var(--text-color); */
}

#settings-hamburger {
  margin-left: 5px;
  padding: 20px;
  color:var(--spotify-green);
  background-color: var(--main-bg-color);
  cursor: pointer;
  transition: 0.3s;
}

.settings-dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50px;
  right: 20px;
  background-color: var(--background-secondary);
  border: 1px solid var(--spotify-green);
  padding: 10px;
}

.settings-dropdown a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  transition: 0.3s;
}

#search-button {
  margin-left: 5px;
  font-size: 20px;
  padding: 0 5px 0 5px;
  color:var(--spotify-green);
  background-color: var(--main-bg-color);
  border: none;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

#search-button:hover {
  color: var(--main-bg-color);
  background-color: var(--spotify-green);
}

#spotify-title {
  color: var(--spotify-green);
}

.title-home {
  font-weight: bold;
  font-size: 36px;
  color: var(--text-color);
  flex: 1;
}

.nav-search-logout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.head-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 1190px;
}

.text {
  color: var(--background-tertiary);
  font-style: italic;
  font-weight: 800;
}

.center {
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.login-button {
  background-color: var(--background-secondary);
  color: var(--text-color);
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
  border-radius: 40px;
  padding: 20px;
  transition: 0.3s;
}

.no_preview_text {
  color: var(--infrared-color);
  font-weight: bold;
}

.dash-button {
  /* margin-top: 30px; */
  background-color: var(--background-secondary);
  border: none;
  color: var(--text-color);
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
  border-radius: 40px;
  padding: 20px;
  transition: 0.3s;
  cursor: pointer;
}

#dash-nav {
  color: var(--spotify-green);
  background-color: var(--main-bg-color);
  font-size: 20px;
  padding: 10px 20px 10px 20px;
}

#dash-nav:hover {
  background-color: var(--spotify-green);
  color: var(--main-bg-color)
}

.login-button:hover, .dash-button:hover {
  background-color: var(--spotify-green);
  color: var(--main-bg-color);
}

.nav-container {
  display: flex;
  justify-content: space-between;
}

.title {
  color: var(--text-color);
  font-size: 10vw;
  font-weight: bold;
}

.dash-title {
  width: 70%;
  margin: 10px;
  font-size: 70px;
  font-weight: bold;
  color: var(--text-color);
}

.song-list {
  margin-top: 10px;
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
}

.song-info {
  color: var(--text-color);
  margin-left: 3px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.song-name {
  font-weight: bold;
  font-size: 16px;
}

.song-artist {
  font-weight: 100;
}

.track {
  padding: 20px;
  background-color: var(--background-secondary);
  color: var(--text-color);
  width: 20%;
  height: 100px;
  border-radius: 20px;
}

.accent-mark {
  background-color: var(--spotify-green);
  height: 20px;
  width: 40%;
  margin-left: 10px;
}

.header-container {
  margin-top: 10px;
  display: flex;
  gap: 20px;
  align-items: baseline;
}

.time-range {
  color: var(--text-color);
  opacity: 0.3;
  cursor: pointer;
}

.card-background {
  position: relative;
  display: flex;
  gap: 15px;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: var(--background-secondary);
  flex-shrink: 0;
  width: 165px;
  height: 165px;
  margin: auto;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card-container {
  width: 165px;
  height: 300px;
  background-color: var(--dark-bg-color);
  padding: 20px;
  padding-top: 0px;
  border-radius: 20px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
  justify-content: space-between;
}

.top-tracks {
  display: flex;
  gap: 15px;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--background-secondary);
  padding: 20px;
  border-radius: 20px;
  width: 90%;
}

.black-filter {
  position: absolute;
  top: 0;
  opacity: 0;
  left: 0;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  background-color: black;
  transition: 0.3s;
}

.recommended-track {
  border-radius: 10px;
  position: relative;
  width: 96%;
  flex-shrink: 0;
}


.now-playing {
  z-index: 1001;
  width: auto;
  opacity: 1;
  height: fit-content;
  position: absolute;
  right: 15%;
  top: 30%;
  transition: 0.3s;
}

.black-filter-small {
  position: absolute;
  top: 0;
  opacity: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transition: 0.3s;
}

.top-entry:hover .black-filter {
  /* opacity: 0.7; */
}


.place {
  z-index: 1;
  width: 15%;
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  color: var(--text-color);
}

.gallery-leftPointer {
  position: absolute;
  top: 46%;
  transform: translate(0, -50%);
  left: -50px;
  text-shadow: 0 0 2px var(--main-bg-color);
  font-size: 100px;
  color: var(--text-color);
  z-index: 3;
  user-select: none;
  cursor: pointer;
  transition: 0.3s;
}

.gallery-leftPointer:hover {
  color: var(--spotify-green);
  text-shadow: 0 0 5px var(--spotify-green);
}

.gallery-rightPointer {
  position: absolute;
  top: 46%;
  transform: translate(0, -50%);
  right: -50px;
  text-shadow: 0 0 2px var(--main-bg-color);
  font-size: 100px;
  color: var(--text-color);
  z-index: 3;
  user-select: none;
  cursor: pointer;
  transition: 0.3s;
}

.gallery-rightPointer:hover {
  color: var(--spotify-green);
  text-shadow: 0 0 5px var(--spotify-green);
}

.cards-container {
  width: 100%;
  margin-top: 10px;
  height: 320px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.top-options {
  position: absolute;
  height: 205px;
  width: 850px;
}

.top-inner-container {
  display: inline-flex;
  gap: 10px;
  height: 205px;
}


.item-info {
  z-index: 2;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  transition: 0.3s;
}

.top-header {
  cursor: pointer;
  opacity: 0.5;
  font-size: 30px;
  color: var(--text-color);
}

.recommended-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  row-gap: 15px;
}

.modal-header {
  margin-bottom: 20px;
}

.modal-container {
  background-color: rgba(0,0,0,0.75);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

.modal {
  z-index: 1001;
  border-radius: 40px;
  position: absolute;
  padding: 20px;
  width: 55%;
  height: 80%;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  background-color: var(--main-bg-color);

}

.dashboard-main {
  margin: 20px 10px 10px 10px;
  display: flex;
  gap: 40px;
  flex-direction: column;
  justify-content: center;
}

.item-name {
  font-size: 18px;
  color: var(--text-color);
  width: fit-content;
  font-weight: bold;
  white-space: nowrap;
}

.artist-name {
  width: 165px;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.item-name-container {
  display: flex;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  overflow-x: hidden;
  font-size: 18px;
}

@keyframes shift {
  50% {justify-content: flex-end;}
  100% {justify-content: flex-start;}
}

.shadow-scroll {
  opacity: 0;
  position: absolute;
  background: linear-gradient(90deg, #181818 0%, rgba(0,0,0,0) 10%, rgba(0,0,0,0) 90%, #181818 100%);
  height: 100%;
  width: 100%;
  z-index: 3;
  transition: 0.3s;
}

.card-container:hover .shadow-scroll {
  opacity: 1;
}

.top-entry-container:hover {
  background-color: var(--dark2-bg-color);
}

.item-details {
  color: var(--text-color);
  font-size: 16px;
  opacity: 0.75;
  width: 18ch;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.item-popularity {
  color: var(--spotify-green);
  font-size: 14px;
}

.player-wrapper {
  background: rgba(0, 0, 0, 0.5);
  margin-left: 20%;
  margin-right: 20%;
  position:fixed;
  bottom:0;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  min-width: 700px;
}

.track-wrapper {
  display: inline-block;
  flex-basis: 33%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.track-info {
  display: flex;
  flex-direction: row;
  flex-basis: 33%;
}

.image-container {
  padding: 2px
}

.track-and-artist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 8px;
  color: white;
}

.webplayer-buttons-wrapper {
  display: flex;
  flex-basis: 34%;
  padding: 4px;
  border-radius: 6px;
  justify-content: center;
  background: rgba(255, 255, 255, 0.5);
}

.webplayer-buttons-container {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.webplayer-hamburger {
  flex-basis: 33%;
}

.feed {
  width: 100%;

}

.feed-instance {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
  background-color: var(--background-secondary);
  color: var(--text-color);
  border-radius: 20px;
  padding: 20px;
  margin-top: -10px;
}

.rec-to-art {
  width: 60px;
  height: 60px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.rec-songinfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.feed-instance-container {
  position: relative;
  z-index: 4;
}

.rec-artistname {
  color: var(--text-color);
  font-size: 14px;
}

.rec-head-container {
  display: flex;
  gap: 10px;
  background-color: var(--dark-bg-color);
  padding: 10px 10px 25px 10px;
  width: fit-content;
  border-radius: 10px 10px 0 0;
  margin-top: 20px;
  transform: translate(0, 5px);
}

.recommended-header {
  font-size: 16px;
  color: var(--text-color);
  font-weight: bold;
}

.rec-text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mini-albumart {
  width: 47.46px;
  height: 47.46px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  transition: 0.3s ease-out;
}

.mini-albumart:hover {

}

.rec-wrapper {
  position: relative;
}

.rec-wrapper:hover .black-filter-small {
  opacity: 0.7;
}

#main-column {
  width: 1295px;
  margin: 0 auto;
}

#mainColumnInner, #pageHeaderInner {
  width: 850px;
}

#mainColumnInner {
  padding-right: 445px;
}

#artwork {
  position: fixed;
  z-index: 1010;
  top: 203px;
  width: 420px;
  height: 100%;
  margin-left: 930px;
}

.now-playing-image {
  max-width: 400px;
  max-height: 400px;
}

#artworkImg {
  vertical-align: top;
  width: 400px;
  height: 400px;
  box-shadow: 0 0 5px 4px rgb(0 0 0 / 50%);
  background-size: cover;
  background-repeat: no-repeat;
}

.caption-track-name {
  margin-top: 10px;
  color: var(--text-color);
  font-size: 20px;
  font-weight: bold;
}

.caption-artists {
  font-size: 16px;
  color: var(--text-color);
  opacity: 0.7;
}

.track-result {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--background-secondary);
  color: var(--text-color);
  margin-bottom: 10px;
  cursor: pointer;
}

.track-result-img {
  width: 32px;
  height: 32px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.track-result-text {
  display: flex;
  flex-direction: column;
}

.logout-button {
  top: 10px;
  right: 10px;
  background-color: var(--background-secondary);
  color: var(--text-color);
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.loading {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 320px;
}

.loading::after {
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px inset var(--spotify-green);
  animation: loading 1.2s linear infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}